In [6]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

!pip install pyarrow

Collecting pyarrow
  Downloading pyarrow-19.0.1-cp312-cp312-manylinux_2_28_x86_64.whl.metadata (3.3 kB)
Downloading pyarrow-19.0.1-cp312-cp312-manylinux_2_28_x86_64.whl (42.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.1/42.1 MB 5.1 MB/s eta 0:00:0000:0100:01
Installing collected packages: pyarrow
Successfully installed pyarrow-19.0.1

В описании задачи RESULT — это итоговая витрина (выходная таблица), которую нужно построить на основании анализа данных. В каждой витрине (результирующем наборе данных) должны быть следующие столбцы:

• Время: временной интервал, за который рассчитаны показатели (например, час).
• Название клиента: имя клиента (или название компании, если абонент – юридическое лицо).
• Номер договора клиента: уникальный номер контракта, по которому предоставляются услуги.
• Контактные данные: информация для связи с клиентом (например, телефон, email).
• Предполагаемый статус взлома: флаг или метка, показывающие, выявлена ли аномалия (hacked) или всё в норме (clear).
• Обоснование предполагаемого статуса: краткое описание истории потребления трафика, позволяющее понять, почему статус был определён как подозрительный или нормальный.

Таким образом, RESULT представляет собой агрегированный набор данных, где каждая строка соответствует часовому интервалу, и содержит сводную информацию по клиенту и его активности, а также результат детекции аномалий.

In [4]:
result = pd.read_csv('telecom100k/telecom100k/RESULT', sep=',')
result

,Id,UID,Type,IdPlan,TurnOn,Hacked,Traffic
0,3825,fdecfbcf-2c90-45a6-b906-7a2b97f1b489,P,2,True,True,268498
1,3878,922ac354-4507-4b74-8dc4-961790c8ee44,P,0,True,True,292020
2,3956,6bc922bf-d0c8-45bc-85a5-10bf446a00e1,P,3,True,True,127746
3,4507,813bc409-40f5-4f15-9c22-34477f0e046f,P,6,True,True,134397
4,4518,436afdac-cd8b-4dec-a2c4-39ab8dd12958,P,0,True,True,109752
...,...,...,...,...,...,...,...
385,99288,0d860de3-ee20-4075-bd50-228ebe12b8ce,P,2,True,True,202062
386,99390,c7794e9d-fad8-43d0-9662-c1a91105a30f,P,5,True,True,294453
387,99414,f6e69817-a49e-4390-bd76-b15f48639276,J,11,True,True,926459
388,99422,45e5dfd7-c6f0-4ef5-aac1-132cb6975dff,P,5,True,True,202094
389,99650,230e9f58-8ba5-4c64-b112-1ae5b00fae94,P,2,True,True,170535

Client

Id – идентификатор клиента
Contract – номер контракта
Documents – хранилище копий документов клиентов
Email – электронный адрес клиента
IdPlan – идентификатор тарифного плана

In [17]:
df_client = pd.read_parquet('telecom100k/telecom100k/client.parquet')
df_client

,Id,Contract,Documents,Email,IdPlan
0,b99ef4f4-9429-428e-8c81-7cdc2dbc320d,GB77ABGD33,internal.store.com/clients/documents/GB77ABGD33,dadams@rivera.com,4
1,98d1864e-0be8-4532-a8f2-2182cf84094b,GB30BRPQ96,internal.store.com/clients/documents/GB30BRPQ96,francogerald@miller.biz,3
2,4f752c49-49e8-4695-ac5e-f90e7907c425,GB66SHAM82,internal.store.com/clients/documents/GB66SHAM82,michaelortiz@golden.com,2
3,2884b847-8b92-4e6c-8d33-309699315105,GB18CFEL59,internal.store.com/clients/documents/GB18CFEL59,cheyenne83@pena.biz,2
4,8826c5cf-6943-4e7a-8601-ca6adae44a1d,GB53YSST03,internal.store.com/clients/documents/GB53YSST03,jessica61@gonzalez-wong.com,3
...,...,...,...,...,...
96203,684f155e-6eee-451e-a3c6-94711f3c522d,GB18LSRH18,internal.store.com/clients/documents/GB18LSRH18,crawfordjohn@williams.info,3
96204,d0f4199e-b964-42b2-874b-c7fbb260d1e7,GB17OOFG98,internal.store.com/clients/documents/GB17OOFG98,debbie34@duncan-nelson.info,4
96205,4a728c88-2441-4fce-aa9a-1b99a67a8564,GB55FRUX19,internal.store.com/clients/documents/GB55FRUX19,nallen@warner-mccarthy.com,4
96206,0c3cc209-ba06-4fb2-bd6e-f19635dd2fc5,GB09LWJL63,internal.store.com/clients/documents/GB09LWJL63,eric78@watson.info,7
96207,e2754f43-f356-4b27-ba8c-e76737f499b1,GB38PNXN03,internal.store.com/clients/documents/GB38PNXN03,lcarpenter@hebert.org,3

Company (также наследует данные из Client)

Id – идентификатор клиента
Name – название компании
Address – юридический адрес
Phones – телефоны компании
Contact – контактные данные сотрудников компании

In [18]:
df_company = pd.read_parquet('telecom100k/telecom100k/company.parquet')
df_company

,Id,Contract,Documents,Email,IdPlan,Name,Address,Phones,Contact
0,b924ae6c-8537-47bd-8b50-f765d124d74b,GB48RMCN80,internal.store.com/clients/documents/GB48RMCN80,lwells@mccarty.com,11,Murillo Group LLC,"262 Phillips Mount\nCliffordfurt, OR 30331","[""+1 9514989008"",""+1 (562)730-1018""]","[""Joshua Watson"",""Laura Morales DDS""]"
1,df0004b6-c4a9-45e4-9b5f-672ff57d4fe7,GB15ZHOQ77,internal.store.com/clients/documents/GB15ZHOQ77,sean01@harrison-allen.com,11,Simmons-Lee Inc,"841 Wade Plains Apt. 795\nMoorehaven, MT 83249","[""+1 5359296283""]","[""Michael Mcpherson""]"
2,9e1e6fe7-7817-4e01-82ca-e918f3fd1b41,GB55QYLS64,internal.store.com/clients/documents/GB55QYLS64,howelljoseph@barnett.com,11,"Smith, Young and Perez Ltd","462 Ramos Turnpike\nLewisstad, UT 20461","[""+1 858-471-1524"",""+1 (907)393-9808"",""+1 7518...","[""Eric Cuevas"",""Linda Brewer""]"
3,508e9109-f31f-4914-9d44-44aa105d62d3,GB78VPCQ24,internal.store.com/clients/documents/GB78VPCQ24,tinathomas@thomas.net,12,Payne-Weiss LLC,USNV Parker\nFPO AA 24102,"[""+1 9498883052"",""+1 699-592-9422""]","[""Alexis Turner"",""Dennis Diaz""]"
4,4354f880-0222-42df-825d-320b5e93bca0,GB98TVUB48,internal.store.com/clients/documents/GB98TVUB48,ericyoung@harper.info,12,Harper PLC PLC,7593 Amy Parkways Suite 944\nEast Mariaborough...,"[""+1 (769)904-6827"",""+1 798-885-9561""]","[""Michael Harris"",""Amber Bridges""]"
...,...,...,...,...,...,...,...,...,...
11412,fec0978d-692c-4999-ab20-01c84afa8401,GB23TPYB75,internal.store.com/clients/documents/GB23TPYB75,mullinskaren@rodriguez-harper.com,12,Diaz PLC Inc,Unit 5697 Box 1145\nDPO AP 14129,"[""+1 5695214173""]","[""Charles Brewer"",""John Goodwin""]"
11413,bf346f12-3e71-430b-84a7-3698c27081ba,GB27GFVH20,internal.store.com/clients/documents/GB27GFVH20,xlewis@smith.com,10,Swanson-Patel Ltd,"388 Tyler Springs Suite 155\nEast Karen, SD 30906","[""+1 3465734402"",""+1 (883)908-6887"",""+1 (988)5...","[""Sandra Bradley"",""Katrina Richardson""]"
11414,f6fae804-8ed9-4ac4-b2ac-2c32fe50e7be,GB97ERXQ99,internal.store.com/clients/documents/GB97ERXQ99,mccallzachary@lamb.org,10,Murray-Small PLC,"94425 Dixon Pine\nPort Natashaberg, NH 29897","[""+1 8558023681"",""+1 (463)722-2222""]","[""Christopher Anderson"",""Jerry Castro""]"
11415,e161e398-db65-4def-b6bb-0bb24ebf3599,GB89ISUV74,internal.store.com/clients/documents/GB89ISUV74,natalie40@jones.biz,12,Johnson LLC Inc,USS Miles\nFPO AP 53245,"[""+1 934-785-1325"",""+1 8668968632"",""+1 2483131...","[""Danielle Brown""]"
11416,89dcf853-4676-4dc3-b07b-6fa8dbf6b441,GB66UMXW10,internal.store.com/clients/documents/GB66UMXW10,nmills@rivera.com,12,Browning Ltd Inc,"8027 Kiara Island\nLake Rebeccaport, AS 87025","[""+1 675-747-3845"",""+1 597-424-1644"",""+1 (727)...","[""Omar Jimenez""]"

Physical (наследует данные из Client)

Id – идентификатор клиента
Name – ФИО клиента
Address – адрес проживания
Passport – паспортные данные
Phones – телефоны

In [19]:
df_physical = pd.read_parquet('telecom100k/telecom100k/physical.parquet')
df_physical

,Id,Contract,Documents,Email,IdPlan,Name,Address,Passport,Phones
0,b99ef4f4-9429-428e-8c81-7cdc2dbc320d,GB77ABGD33,internal.store.com/clients/documents/GB77ABGD33,dadams@rivera.com,4,Jennifer Baird,"2821 Haynes Harbor Apt. 816\nLake Stanleytown,...","Jennifer Baird F 2006-07-30, 2023-07-19, 2029-...","[""+1 755-829-4734"",""+1 8009259104""]"
1,98d1864e-0be8-4532-a8f2-2182cf84094b,GB30BRPQ96,internal.store.com/clients/documents/GB30BRPQ96,francogerald@miller.biz,3,Danny Reed,"58527 Foster Harbor Suite 990\nWest Justin, PR...","Danny Reed M 1998-03-22, 2018-05-04, 2032-01-1...","[""+1 894-991-1357"",""+1 515-327-4718""]"
2,4f752c49-49e8-4695-ac5e-f90e7907c425,GB66SHAM82,internal.store.com/clients/documents/GB66SHAM82,michaelortiz@golden.com,2,Emma Erickson,"120 Sarah Flat Suite 219\nPort Thomas, IN 44975","Emma Erickson F 1992-04-05, 2019-05-17, 2030-0...","[""+1 (834)777-2991"",""+1 (432)589-9930""]"
3,2884b847-8b92-4e6c-8d33-309699315105,GB18CFEL59,internal.store.com/clients/documents/GB18CFEL59,cheyenne83@pena.biz,2,Chelsea Mayo,"511 Angela Vista\nShaneton, IA 61923","Chelsea Mayo F 1979-04-13, 2021-09-28, 2031-09...","[""+1 6974508331"",""+1 6566258891""]"
4,8826c5cf-6943-4e7a-8601-ca6adae44a1d,GB53YSST03,internal.store.com/clients/documents/GB53YSST03,jessica61@gonzalez-wong.com,3,Danielle Jones,"5473 Jennifer Row\nBrookstown, NY 36234","Danielle Jones F 1959-08-19, 2023-03-30, 2026-...","[""+1 573-451-0750""]"
...,...,...,...,...,...,...,...,...,...
84786,684f155e-6eee-451e-a3c6-94711f3c522d,GB18LSRH18,internal.store.com/clients/documents/GB18LSRH18,crawfordjohn@williams.info,3,Jason Thomas,"PSC 1445, Box 0130\nAPO AE 12660","Jason Thomas M 1976-04-30, 2019-06-28, 2030-06...","[""+1 8485007811"",""+1 993-874-8077""]"
84787,d0f4199e-b964-42b2-874b-c7fbb260d1e7,GB17OOFG98,internal.store.com/clients/documents/GB17OOFG98,debbie34@duncan-nelson.info,4,Brittany Carroll,"62296 Amanda Gardens\nSandyside, FL 14182","Brittany Carroll F 1975-07-15, 2019-09-29, 202...","[""+1 (379)776-6114"",""+1 (540)773-9814""]"
84788,4a728c88-2441-4fce-aa9a-1b99a67a8564,GB55FRUX19,internal.store.com/clients/documents/GB55FRUX19,nallen@warner-mccarthy.com,4,Margaret Frank,"62077 Amy Trafficway Apt. 963\nMaureenmouth, P...","Margaret Frank F 1974-10-05, 2018-04-23, 2030-...","[""+1 6598919998"",""+1 (854)430-2518""]"
84789,0c3cc209-ba06-4fb2-bd6e-f19635dd2fc5,GB09LWJL63,internal.store.com/clients/documents/GB09LWJL63,eric78@watson.info,7,Brianna Rose,"0376 White Brook\nLeehaven, MO 10338","Brianna Rose F 1984-08-02, 2022-02-08, 2026-03...","[""+1 (948)923-9282""]"
84790,e2754f43-f356-4b27-ba8c-e76737f499b1,GB38PNXN03,internal.store.com/clients/documents/GB38PNXN03,lcarpenter@hebert.org,3,Kevin Murphy,"5097 Eric Turnpike Apt. 842\nNew Renee, TN 62144","Kevin Murphy M 1966-07-24, 2022-08-28, 2029-07...","[""+1 8789313452""]"

Subscriber

IdClient – идентификатор клиента из сущности Client
IdOnPSX – номер абонента в линейном оборудовании (PSX)
Status – статус абонента (ON/OFF)

In [15]:
df_subscriber = pd.read_csv('telecom100k/telecom100k/subscribers.csv')
df_subscriber

                                   IdClient  IdOnPSX Status
0      b99ef4f4-9429-428e-8c81-7cdc2dbc320d     3792     ON
1      98d1864e-0be8-4532-a8f2-2182cf84094b     3793    OFF
2      4f752c49-49e8-4695-ac5e-f90e7907c425     3794     ON
3      2884b847-8b92-4e6c-8d33-309699315105     3795     ON
4      8826c5cf-6943-4e7a-8601-ca6adae44a1d     3796     ON
...                                     ...      ...    ...
96203  684f155e-6eee-451e-a3c6-94711f3c522d    99995     ON
96204  d0f4199e-b964-42b2-874b-c7fbb260d1e7    99996     ON
96205  4a728c88-2441-4fce-aa9a-1b99a67a8564    99997     ON
96206  0c3cc209-ba06-4fb2-bd6e-f19635dd2fc5    99998     ON
96207  e2754f43-f356-4b27-ba8c-e76737f499b1    99999     ON

[96208 rows x 3 columns]

PSXAttrs (атрибуты коммутаторов)

Id – идентификатор коммутатора
PSX – название коммутатора
TransmitUnits – единица измерения трафика (например, биты или байты)
Delimiter – символ разделителя в файлах выгрузки
DateFormat – формат представления даты в файлах выгрузки
TZ – таймзона коммутатора

In [16]:
df_psxattrs = pd.read_csv('telecom100k/telecom100k/psxattrs.csv')
df_psxattrs

   Id   PSX TransmitUnits Delimiter         DateFormat     TZ
0   0  66.1          bits         |  %d/%m/%Y %H:%M:%S  GMT-5
1   1  66.2          bits         |  %d/%m/%Y %H:%M:%S  GMT-5
2   2  66.3          bits         |  %d/%m/%Y %H:%M:%S  GMT-5
3   3  62.0         bytes         ,  %d-%m-%Y %H:%M:%S  GMT-6
4   4  69.0         bytes         ,  %d-%m-%Y %H:%M:%S  GMT-6
5   5  65.0         bytes         ,  %d-%m-%Y %H:%M:%S  GMT-6

In [ ]:
PSXStats (оперативные данные о сессиях подключения)

IdSession – номер сессии подключения абонента
IdPSX – идентификатор коммутатора (связь с PSXAttrs)
IdSubscriber – номер абонента в линейном оборудовании
StartSession – дата начала сессии
EndSession – дата окончания сессии (если сессия не завершена – поле пустое)
Duration – длительность сессии в секундах
UpTx – объем переданного трафика
DownTx – объем полученного трафика

In [20]:
df_psx = pd.read_csv('telecom100k/telecom100k/psx_62.0_2024-01-01 00:10:00.csv')
df_psx

,IdSession,IdPSX,IdSubscriber,StartSession,EndSession,Duartion,UpTx,DownTx
0,8969,3,37320,31-12-2023 15:56:30,NaN,29610,1109939500,1420590648
1,15158,3,92681,31-12-2023 14:49:07,NaN,33653,1560226102,2164212384
2,10521,3,36234,31-12-2023 16:02:21,NaN,29259,7389534198,21769968711
3,15161,3,75631,31-12-2023 14:14:09,NaN,35751,724784536,821707317
4,15163,3,34228,31-12-2023 20:25:42,NaN,13458,838533151,913270856
...,...,...,...,...,...,...,...,...
1857,3087,3,22700,31-12-2023 15:21:57,NaN,31683,1261611444,1618188950
1858,3088,3,93691,31-12-2023 19:45:21,NaN,15879,54450327,79716027
1859,10418,3,35365,31-12-2023 12:52:50,NaN,40630,7142028410,20325761466
1860,3090,3,69417,31-12-2023 23:38:14,NaN,1906,136362321,163122322
1861,3092,3,6750,31-12-2023 15:11:22,NaN,32318,679088597,1002294992

In [ ]:
Plan

Id – идентификатор тарифного плана
Name – название тарифного плана
Description – краткое описание тарифа
CreatedAt – дата открытия (эпоха в миллисекундах)
UpdatedAt – дата изменения
ClosedAt – дата закрытия
Enabled – флаг активности тарифа
Attrs – внутренние атрибуты плана

In [22]:
df_plan = pd.read_json('telecom100k/telecom100k/plan.json')
df_plan

,Id,Name,Description,CreatedAt,UpdatedAt,ClosedAt,Enabled,Attrs
0,0,Start,Minimal plan for beginer internet users,1606089600000,NaN,NaN,True,"I,1000,24"
1,1,StartPlus,Minmal plan for beginer internet users and 100...,1606867200000,NaN,NaN,True,"I,1000,24,100m"
2,2,StartPlusTV,Internet TV plus minmal plan for beginer inter...,1606953600000,NaN,NaN,True,"I,1000,24,100m,ITV"
3,3,NightKnight,Minimal plan for beginer internet users with u...,1609113600000,NaN,NaN,True,"I,1000+U,24"
4,4,Standard,Typical plan with 10Gb internet traffic per mo...,1609113600000,NaN,NaN,True,"I,10000,-,200m"
5,5,StandardTV,Typical plan with 10Gb internet traffic per mo...,1606867200000,NaN,NaN,True,"I,10000,-,200m,ITV"
6,6,AllInOne,"Unlimited internet traffic, 500 min calls, int...",1610668800000,1.611101e+12,NaN,True,"I,Unlim,-,500m,ITV"
7,7,Maximum,"Unlimited internet traffic, 700 min calls, int...",1612137600000,NaN,NaN,True,"I,Unlim,-,700m,ITV,G"
8,8,StandardLite,Typical plan with 5Gb internet traffic per mon...,1609113600000,NaN,1.704067e+12,False,"I,5000,-,200m"
9,9,StandardGames,Typical plan with 10Gb internet traffic per mo...,1609113600000,NaN,1.704067e+12,False,"I,10000,-,200m,G"
10,10,StandardCompany,Unlimited internet traffic with 50MB/s throughput,1613088000000,NaN,NaN,True,"I,50000,C,-"
11,11,MiddleCompany,Unlimited internet traffic with 100MB/s throug...,1613088000000,NaN,NaN,True,"I,100000,C,-"
12,12,MaxCompany,Unlimited internet traffic with 200MB/s throug...,1640995200000,NaN,NaN,True,"I,200000,C,PBX"
13,12,LiteCompany,Unlimited internet traffic with 10MB/s throughput,1613088000000,NaN,1.670026e+12,False,"I,10000,C"

In [24]:
import pandas as pd

# 1) Читаем основной файл с данными PSXStats (df_psx)
# 2) Читаем данные Subscriber (df_subscriber)
# 3) Читаем данные Client (df_client) и оставляем нужные столбцы
# 4) Читаем данные PSXAttrs (df_psxattrs)
# 5) Читаем данные Plan (файл plan.json - df_plan) и делаем его DataFrame


# 1. Объединяем PSXStats с Subscriber:
# Связываем psx.csv (IdSubscriber) и Subscriber (IdOnPSX)
df = pd.merge(df_psx, df_subscriber, left_on='IdSubscriber', right_on='IdOnPSX', how='left')

# 2. Присоединяем данные Client по полю IdClient, которое появилось из Subscriber, и Client.Id:
df = pd.merge(df, df_client, left_on='IdClient', right_on='Id', how='left', suffixes=('', '_client'))

# 3. Присоединяем PSXAttrs по полю IdPSX (psx.csv) и PSXAttrs.Id:
df = pd.merge(df, df_psxattrs, left_on='IdPSX', right_on='Id', how='left', suffixes=('', '_psxattrs'))

# 4. Присоединяем данные Plan, используя IdPlan из Client (уже в объединённом df) и Plan.Id:
df = pd.merge(df, df_plan, left_on='IdPlan', right_on='Id', how='left', suffixes=('', '_plan'))

# Результирующий DataFrame содержит:
# - Данные сессий из psx.csv
# - Все столбцы из Subscriber
# - Два столбца из Client (Id и IdPlan)
# - Все столбцы из PSXAttrs
# - Все столбцы из Plan

df.head(2)

,IdSession,IdPSX,IdSubscriber,StartSession,EndSession,Duartion,UpTx,DownTx,IdClient,IdOnPSX,...,DateFormat,TZ,Id_plan,Name,Description,CreatedAt,UpdatedAt,ClosedAt,Enabled,Attrs
0,8969,3,37320,31-12-2023 15:56:30,NaN,29610,1109939500,1420590648,4dc99dc9-7973-472a-abfd-274d3eab5681,37320,...,%d-%m-%Y %H:%M:%S,GMT-6,1,StartPlus,Minmal plan for beginer internet users and 100...,1606867200000,NaN,NaN,True,"I,1000,24,100m"
1,15158,3,92681,31-12-2023 14:49:07,NaN,33653,1560226102,2164212384,9042aeed-88ec-434c-b99d-71a61b387c64,92681,...,%d-%m-%Y %H:%M:%S,GMT-6,1,StartPlus,Minmal plan for beginer internet users and 100...,1606867200000,NaN,NaN,True,"I,1000,24,100m"